:host {
  display: block;
  .footer {
  align-items: center;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  display: flex;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  height: 56px;
  justify-content: center;
  text-align: center;
  
  
}


.footer-icon {
  transform: translate(-10px, 2px);
  font-size: 2rem;
}

.footer-contact {
  background-color: var(--beige);
}
.footer-contact-short {
  display: flex;
  justify-content: center;
  gap: 10vw;
  padding-top: 8px;
}
.footer-contact-short h2 {
  display: flex;
  align-items: center;
}
.footer-contact-short h2 a {
  color: var(--link-text);
}
.footer-contact-short h2 i {
  font-size: 2rem;
  margin-right: 10px;
}
.footer-whatsapp-i {
  color: var(--whatsapp);
}
.footer-mail-i {
  color: var(--linkedin);
}

@media only screen and (max-width: 725px) {
  .footer-contact-long {
    padding: 80px 2vw 40px 2vw;
  }
  .footer-contact-short {
    flex-direction: column;
    align-items: center;
    gap: unset;
  }
}
}
