<div class="navbar bg-base-100 shadow-sm p-0">
  <div class="navbar-start h-max p-0">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        @for (route of arrayOfTitles; track route.link) {
          <li>
            <a [routerLink]="route.link" [routerLinkActive]="['active']">
              {{ route.title }}
            </a>
          </li>
        }
      </ul>
    </div>
    <img
      routerLink="/"
      class="cursor-pointer h-15"
      src="https://res.cloudinary.com/ddbrs5z8v/image/upload/v1770765110/LogoRED_qyrlrr.svg"
      alt="logo red psicologos uba"
    />
  </div>
  <div class="navbar-center hidden lg:flex h-max p-0">
    <ul class="menu menu-horizontal px-1 h-max p-0">
      @for (route of arrayOfTitles; track route.link) {
        <li
          class="p-0 pt-4 h-16 m-0"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['border-b-5', 'text-(--violet)']"
        >
          <a class="color-(--light-grey)" [routerLink]="route.link">
            {{ route.title }}
          </a>
        </li>
      }
    </ul>
  </div>
</div>
