:host {
  display: block;
  .header {
    background-color: var(--super-light-grey);
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
  }
  .header-whatsapp a {
    color: var(--violet);
    margin-left: 5px;
  }
  .header-mail a {
    margin-right: 3vw;
    color: var(--violet);
    margin-left: 5px;
  }
  .header-icon {
    transform: translate(10px);
    margin-left: 10px;
    color: var(--violet);
  }

  @media only screen and (max-width: 519px) {
    .header {
      flex-direction: column;
      align-items: center;
      padding: 6px 0px;
    }
    .header-mail {
      margin-right: unset;
    }
    .header-mail i {
      margin-left: unset;
    }
  }
}
