:host {
  display: block;
    background-color: var(--beige);
  .text-body {
    background-color: var(--beige);
  }
  .text-body-long {
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 100%;
  padding-right: 15px; /* o 1rem */
  padding-left: 15px;  /* o 1rem */
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  }
  .text-body-long h3 {
    color: var(--text-grey);
  }
  .text-body-long h3 a {
    color: var(--link-text);
  }


/* Media queries para simular el comportamiento responsive de Bootstrap */
@media (min-width: 576px) { .text-body-long { max-width: 540px; } }
@media (min-width: 768px) { .text-body-long { max-width: 720px; } }
@media (min-width: 992px) { .text-body-long { max-width: 960px; } }
@media (min-width: 1200px) { .text-body-long { max-width: 1140px; } }

}
