<div class="text-body">
  <div class="text-body-long">
    <h1 class="violet-letter thin-letter">{{ title }}</h1>
    <br />
    <h3 class="roboto mt-3">{{ text1 }}</h3>
    <br />
    <h3 class="roboto mt-3">{{ text2 }}</h3>
    <br />
    <h3 class="roboto mt-3">
      {{ text3 }}
      <a target="_blank" rel="noreferrer" href="https://wa.me/5491153109465">
        +54&nbsp;9&nbsp;11&nbsp;5310-9465
      </a>
    </h3>
    <h3 class="roboto">
      {{ text4 }}
      <a href="mailto: redpsicologosuba@gmail.com"> redpsicologosuba@gmail.com </a>
    </h3>
  </div>
</div>
